h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #cad2c5;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navLinks {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navLinkItem {
  margin: 0;
}

.navLinkText {
  text-decoration: none;
  color: #cad2c5;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.navLinkText:hover {
  color: #555;
}

/* Heading */
.heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #cad2c5;
}

body{
  background: #2f3e46;
  color: #cad2c5;

  
}

.homeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This will make the container take up the full viewport height */
  text-align: center;
}